body{
  min-height: 100%;
}

h1{
  text-align: center;
  margin-bottom: 30px;
  color: white;
}

h5{
  text-align: center;
  margin-bottom: 30px;
  color: white;
}


.subhead{
  list-style-type: none;
  text-align: center;
}

.container{
  background-color: #212121;
  max-width: 720px;
}

.tab-pane{
  background-color: white;
}

.bgImage{
  /*background-image: url('../indexassets/portfolioBackground.jpg');*/
  background-image: url('../galleryassets/ValeraPainting-Background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

a.nav-link{
  color:#8a8a8a;
}

a.nav-link:hover{
  background-color: rgba(227, 135, 155, 1);
  box-shadow: 0 10px 15px rgba(227, 135, 155, 1);
  color: white;
}

.nav-pills .nav-link.active{
  background-color: rgba(227, 135, 155, 1);

}

.meetText{
  margin: 10px;
  padding: 10px;
  text-align: left;
}

h3{
  padding: 20px;
}

.social{
  margin: 50px;
}

.ContactForm{
  padding: 10px;
}

button{
  margin-top:10px;
  margin-bottom: 10px;
  margin-left: 0px;
}

#accordion{
  padding-bottom: 10px;
}

form{
  text-align: center;
}

.submit-btn{
  border: none;
  border-radius: 15%;
  padding: 10px;
}

.submit-btn:hover{
  background-color: rgba(227, 135, 155, 1);
}

footer{
bottom: 0px;
}

.footertext{
  color: white;
  padding-top: 10px;
  padding-left: 40px;
  text-align: left;
}

.icons{
  padding: 15px;
  margin-right: 50px;
}

.icons:hover{

  background-color: rgba(227, 135, 155, 1);
  box-shadow: 0 5px 15px rgba(227, 135, 155, 1);
}

p{
  padding-top:30px;
}

a.gameList{
  text-decoration: none;
  padding: 10px;
  color:#8a8a8a;
}

a.gameList:hover{
  color: rgb(227, 135,155);
}
